body {
    margin: 0;
    font-family: 'Raleway', 'sans-serif';

}

.button {
    cursor: pointer;
}

.recipe-container {
    margin: 0 150px;
}

.recipe-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.important-recipe-data {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-bottom: 32px;
    padding-top: 16px;
}

.recipe-info {
    background-color: #EFEFEF;
    padding: 4px 8px;
    border-radius: 8px;
    display: flex;
}

.icons {
    width: 16px;
    padding-right: 8px;
}

.recipe-ingredients {
    border-top: 1px solid;
    border-top-color: rgba(0, 0, 0, 0.1);
}

.form{
    padding-top: 16px;
    padding-bottom: 8px;
}

.portions-input {
    height: 32px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 8px;
}

.submit-button {
    background-color: #008000;
    color: white;
    padding: 8px 32px;
    border: none;
}