<div class="footer">
    <div class="innerFooter">
       <div class="footer-links"><a href="./datenschutz.html">Datenschutzerklärung</a></div> 
        <div class="flex-space-between-gp16">
            <a href="https://www.facebook.com">
                <img class="social-media-footer" src="./icons/facebook_white.png" alt="Facebook">
            </a>
            <a href="https://instagram.com">
                <img class="social-media-footer" src="./icons/instagram_white.png" alt="Instagram">
            </a>
            <a href="https://twitter.com">
                <img class="social-media-footer" src="./icons/twitter_white.png" alt="X">
            </a>
        </div>
    </div>
</div>